.cl_container {
  width: 45%;
  height: 92%;
  /* border: 1px solid #000000; */
  /* padding: 5px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.cl_container::-webkit-scrollbar {
  display: none;
}
