.cd_container {
  width: 60%;
  height: 100%;
  border: 1px solid black;
}

.cl_container {
  width: 40%;
  height: 92%;
  border: 1px solid #000000;
  /* padding: 5px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.card_container {
  width: 45%;
  height: 15%;
  border: 1px solid black;
}

.pag_container {
  width: 40%;
  height: 8%;
  border: 1px solid black;
}
