.card_container {
  width: 48%;
  height: 15%;
  /* border: 1px solid black; */
  border-radius: 20px;
  background-color: rgb(255, 80, 80);
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  margin: 5px 0 4px 0;
  /* margin-top: 8px; */
  box-shadow: 2px 2px 3px black;
  transition: all 0.2s ease-in;
}

.card_container:hover {
  cursor: pointer;
  background-color: rgb(255, 47, 47);
}

.card_container img {
  width: 30%;
  height: auto;
}

.pkm_info {
  width: 40%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card_container p {
  height: auto;
}

.type_container {
  font-size: 14px;
  font-weight: 800;
  color: white;
  border: 1px solid black;
  border-radius: 3px;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}
